@import "../../assets/theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

.scope-card{
    background-color: $Gray;
    width: 80%;
    margin: 24px;
    border-radius: 15px;
    padding: 16px;
    display: flex;
    flex-direction: column;

    .info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 2%;
        box-sizing: border-box;

    .info-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    }

    .actions{
        display: flex;
        align-items: center;
        gap: 16px;

        .edit{
            background-color: $Blue !important;
        }

        .delete{
            background-color: $Red !important;
        }
    }
    }

    .expanded{
        padding: 36px;
        margin-left: 5%;
        
        .text-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .text-content{
                width: 100%;

            }
        }

        .actions {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 48px;

            input{
                width: 50vw;
            }
        }
    }
}

.fixed{
    background-color: transparent !important;
    border: 1px solid $Green !important;
    padding: 32px;
    svg{
        fill: $Green !important;
    }
}